{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
    <style>
        #offers ul {
            list-style-type: none;
            padding: 0 0 0.5em 1em;
            margin: 0 0 1em 0;
            border-bottom: 1px solid black;
        }

        #offers ul li {
            line-height: 3;
        }

        #offers label, #offers input, #offers select {
            padding: 0 0.1rem 0 0.1rem;
            display: inline;
        }

        #offers .price_disp {
            margin-left: 0.5em;
        }

        #cur_balance {
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block title %}
    Create offers
{% endblock %}

{% block content %}

    <p>You are a <b>{{ player.role }}</b>.</p>

    {% if player.role == 'buyer' %}
        <p>The sellers are currently deciding on their offers. Just click "Next" and wait until they finished.</p>
    {% else %}
        <p>You must decide on your offers now. You have an initial balance of <b>{{ player.initial_balance }}</b>.</p>

        <p>Purchase prices per piece for you as a seller:</p>
        <ul>
        {% for fruit_label, price in purchase_prices.items %}
            <li><b>{{ fruit_label }}:</b> {{ price }}</li>
        {% endfor %}
        </ul>

        {{ offers_formset.management_form }}

        <div id="offers">
        {% for offer_form in offers_formset %}
            <h4>Offer #{{ forloop.counter }}</h4>
            <ul>
                {{ offer_form.as_ul }}
            </ul>
        {% endfor %}
        </div>

        <p><input type="button" value="+" id="add_offer"></p>

        <div id="empty_offers_form" style="display:none">
            <h4>Offer #<span class="offer_counter"></span></h4>
            <ul>
                {{ offers_formset.empty_form.as_ul }}
            </ul>
        </div>

        <p>Your balance is now: <span id="cur_balance"></span></p>
    {% endif %}

    <p>
        {% next_button %}
    </p>

{% if player.role == 'seller' %}
    <script>
        var PURCHASE_PRICES = {{ purchase_prices|json }};
        var INITIAL_BALANCE = {{ player.balance|json }};
        var costs = {};

        $('#add_offer').click(function() {
            var form_idx = parseInt($('#id_form-TOTAL_FORMS').val());

            var new_offer_form = $($('#empty_offers_form').html().replace(/__prefix__/g, form_idx));
            new_offer_form.find('.offer_counter').text(form_idx+1);
            new_offer_form.find('input').on('input', formElemChanged);
            new_offer_form.find('select').on('input', formElemChanged);

            $('#offers').append(new_offer_form);
            $('#id_form-TOTAL_FORMS').val(form_idx+1);
        });

        function formElemChanged() {
            var regex_res = /^id_form-(\d+)-(\w+)$/.exec(this.id);
            if (regex_res !== null && regex_res.length === 3) {
                var form_idx = parseInt(regex_res[1]);
                var input = regex_res[2];

                if (input === 'amount' || input === 'kind') {
                    var amount_field = $('#id_form-' + form_idx + '-amount');
                    var amount = parseFloat(amount_field.val());
                    var kind = $('#id_form-' + form_idx + '-kind').val();
                    var price_disp_id = 'id_form-' + form_idx + '-pricedisplay';

                    if (PURCHASE_PRICES.hasOwnProperty(kind) && !Number.isNaN(amount)) {
                        var price = PURCHASE_PRICES[kind] * amount;
                        var price_disp = $('#' + price_disp_id);
                        if (price_disp.length === 0) {
                            price_disp = $('<span class="price_disp" id="' + price_disp_id + '"></span>');
                            amount_field.after(price_disp);
                        }

                        price_disp.html('cost: <b>&dollar;' + price.toFixed(2) + '</b>');
                        costs[form_idx] = price;
                    } else {
                        $('#' + price_disp_id).remove();
                        costs[form_idx] = 0;
                    }
                }
            }

            updateBalance();
        }

        function updateBalance() {
            var balance = INITIAL_BALANCE;

            for (var form_idx in costs) {
                if (costs.hasOwnProperty(form_idx)) {
                    balance -= costs[form_idx];
                }
            }

            $('#cur_balance').text('$' + balance.toFixed(2));
        }

        $(function() {
            $('#offers input').on('input', formElemChanged);
            $('#offers select').on('input', formElemChanged);

            updateBalance();
        });
    </script>
{% endif %}
{% endblock %}
